<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR CODE GENERATOR</title>
    <link rel="icon" type="image/png" href="../static/images/qr.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>QR CODE GENERATOR</h1>
        <form id="userForm">
            <div class="flex-row">
                <div class="flex-item">
                    <label for="logo">Logo for QR Code:</label>
                    <select id="logo" name="logo" >
                        <option value="">Select Logo</option>
                        <option value="facebook">Facebook</option>
                        <option value="instagram">Instagram</option>
                        <option value="none">None</option>
                        <option value="custom">Choose from device</option>
                    </select>
                </div>

                <div class="flex-item">
                    <label for="style">Style:</label>
                    <select id="style" name="style" >
                        <option value="default">Default</option>
                        <option value="circle">Circle</option>
                        <option value="gapped">Gapped</option>
                        <option value="square">Square</option>
                        <option value="vertical">Vertical</option>
                        <option value="horizontal">Horizontal</option>
                    </select>
                </div>

                <div class="flex-item">
                    <label for="size">Logo Size:</label>
                    <select id="size" name="size" >
                        <option value="default">Default</option>
                        <option value="big">Big</option>
                        <option value="medium">Medium</option>
                        <option value="small">Small</option>
                    </select>
                </div>

            </div>
            <div class="flex-row" id="fileUploadRow" style="display: none;">
                <label class="label-upload" for="logoFile">Upload Logo:</label>
                <input type="file" id="logoFile" name="logoFile" accept="image/*">
            </div>
            <!-- Link Label and Input in One Row -->
            <div class="flex-row link">
                <label class="label-link" for="link">Link:</label>
                <input type="text" id="link" name="link" required>
            </div>




            <!-- Frame for displaying the image -->
            <div class="image-container">
                <div class="image-frame">
                    <img src="../static/logos/pomarina.png" alt="QR Code" id="qrCodeImage">
                </div>

                <!-- Color Inputs on the right side of the image -->
                <div class="color-row">
                    <!-- Choose Color Label and Select in One Row -->
                    <div class="color-row">
                        <label for="color">Choose Color:</label>
                        <select id="color" name="color" >
                            <option value="none">No Color</option>
                            <option value="custom">Custom Color</option>
                            <option value="default">Default Color</option>
                        </select>
                    </div>
                    <!-- Choose Color Fill and Select in One Row -->
                    <div id='color-fill-box' class="color-fill" style="display:none">
                        <label class='label-fill' for="color-fill">Fill:</label>
                        <select id="color-fill" name="color-fill" >
                            <option value="solid">Solid</option>
                            <option value="gradient">Gradient</option>
                        </select>
                    </div>
                    <label id='color-label' for="colors">Colors</label>
                    <div class="inner-colors">
                        <div class="color-section">
                            <label id='ccLabel' for="cc">center</label>
                            <input type="color" class="color-square"  id="ccColor" name="ccColor"
                                    disabled=disabled"
                            >
                        </div>

                        <div class="color-section">
                            <label id='ecLabel' for="ec">edge</label>
                            <input type="color" id="ecColor" class="color-square"  name="ecColor"
                                    disabled="disabled"
                            >
                        </div>

                        <div class="color-section">
                            <label for="bc">back</label>
                            <input type="color" class="color-square" id="bcColor" name="bcColor" value="#ffffff"
                                    disabled="disabled"
                            >
                        </div>

                    </div>
                </div>
            </div>

        </form>

                    <button id="saveQRCodeButton"  onclick="save()">Save QR Code</button>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
