body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 5px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 10px #5e3394;
}

h1 {
    text-align: center;
    margin: 0 auto 25px auto;
    color: #5e3394;
}

.flex-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.flex-item {
    flex: 1;
    margin-right: 10px;
}

.flex-item:last-child {
    margin-right: 0;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-right: 10px;
}

.label-link {
    width: 40px;
}

input[type="text"],
select {
    flex: 1;
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.image-container {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

.image-frame {
    width: 260px;
    height: 260px;
    border-radius: 4px;
    box-shadow: 0 1px 15px #5e3394;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 10px;
}

.image-frame img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.color-row {
    display: flex;
    flex-direction: column;
    margin: 5px 0 10px auto;
    align-items: center;
    width: 310px;
}

.color-row label {
    margin: 15px auto 15px auto;
}

#color-label {
    margin: auto;
}

.color-row input[type="color"] {
    height: 36px; /* Fixed height for color inputs */
    width: 36px;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: white;
}

.color-section {
    display: flex;
    flex-direction: column;
    margin: auto 26px;
    align-items: center;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: auto auto 0 auto;
}

button:hover {
    background-color: #4cae4c;
}

/* Hide the text fields but keep them in the DOM */
.hidden {
    display: none;
}

#fileUploadRow {
    margin-bottom: 4px;
}

.inner-colors {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.color-fill {
    display: flex;
    flex-direction: row;
    margin: 5px 0 10px auto;
    align-items: center;
    width: 97%;
}

.color-fill label {
    width: 40px;
    margin: auto auto 6px auto;
}



@media (max-width: 600px) {

    .container {
        padding: 10px;
    }

    .flex-row {
        flex-direction: column;
        align-items: stretch;
    }

    .link {
        display: flex;
        flex-direction: row;
        margin-left: 50px;
        margin-bottom: 10px;
        margin-right: 50px;
    }

    .flex-item {
        display: flex;
        flex-direction: row;
        margin-left: 50px;
        margin-bottom: 10px;
        margin-right: 50px;
    }

    .flex-item:last-child {
    margin-right: 50px;
    }

    label {
        margin: auto 10px;
    }

    label-link {
        display: block;
        margin: auto 10px;
    }

    .image-frame {
        width: 100%;
        height: auto;
    }
    .color-row {
        width: 100%;
    }
    button {
        width: 100%;
    }

    #fileUploadRow {
        flex-direction: row;
        align-items: stretch;
        margin: auto 50px 10px;
    }

}


@media (max-width: 530px) {
    .image-container {
        flex-direction: column;
    }

    .image-frame {
        width: 320px;
        margin: auto;
    }

    .inner-colors {
        margin-bottom: 10px;
    }

}

@media (max-width: 390px) and (min-width: 300px){
    .flex-item {
        margin-left: 20px;
        margin-right: 20px;
    }

    .flex-item:last-child {
        margin-right: 20px;
    }

    .link {
        margin-left: 20px;
        margin-right: 20px;
    }

    .image-frame {
        width: 220px;
        margin: auto;
    }

    #fileUploadRow {
        margin: auto 20px 10px;
    }
}

@media (max-width: 10px) {}

